.sign-in {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
  .title {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .sign-in {
    margin-bottom: 50px;
    width: 380px;
    .buttons {
      display: block;
    }
  }
}
